.finance-table{

margin-top:35px;

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.1);

}

.finance-table table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

.finance-table th{

background:#0057d8;

color:white;

padding:15px;

}

.finance-table td{

padding:15px;

border-bottom:1px solid #ddd;

}

.paid{

color:green;

font-weight:bold;

}

.pending{

color:orange;

font-weight:bold;

}

.invoice-buttons{

margin-top:30px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}

.invoice-buttons button{

padding:18px;

background:#0057d8;

border:none;

border-radius:15px;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.invoice-buttons button:hover{

background:#003d99;

transform:translateY(-5px);

}