.finance-box{

background:white;

padding:25px;

margin-top:30px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.1);

}

.progress{

background:#ddd;

height:35px;

border-radius:30px;

margin:20px 0;

overflow:hidden;

}

.bar{

height:100%;

display:flex;

align-items:center;

padding-left:15px;

font-weight:bold;

color:white;

}

.jan{

width:60%;

background:#0057d8;

}

.feb{

width:72%;

background:#1a73e8;

}

.mar{

width:85%;

background:#3b82f6;

}

.apr{

width:95%;

background:#60a5fa;

}